*.vsidx
TwoFactRegressCalc/.vs/ProjectEvaluation/twofactregresscalc.metadata.v7.bin
TwoFactRegressCalc/.vs/ProjectEvaluation/twofactregresscalc.projects.v7.bin
*.v2
*.suo
TwoFactRegressCalc/.vs/TwoFactRegressCalc/v17/DocumentLayout.json
TwoFactRegressCalc/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_zkytauqh_wpftmp.sourcelink.json
*.cache
*.editorconfig
*.BuildWithSkipAnalyzers
TwoFactRegressCalc/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_0vpzruig_wpftmp.AssemblyInfo.cs
TwoFactRegressCalc/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_zkytauqh_wpftmp.GlobalUsings.g.cs
TwoFactRegressCalc/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_zkytauqh_wpftmp.AssemblyInfo.cs
TwoFactRegressCalc/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_yvjvphx1_wpftmp.sourcelink.json
TwoFactRegressCalc/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_0vpzruig_wpftmp.GlobalUsings.g.cs
TwoFactRegressCalc/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_0vpzruig_wpftmp.sourcelink.json
TwoFactRegressCalc/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_2zdnfwjd_wpftmp.AssemblyInfo.cs
TwoFactRegressCalc/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_2zdnfwjd_wpftmp.GlobalUsings.g.cs
TwoFactRegressCalc/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_2zdnfwjd_wpftmp.sourcelink.json
TwoFactRegressCalc/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_b0atyiut_wpftmp.AssemblyInfo.cs
TwoFactRegressCalc/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_b0atyiut_wpftmp.GlobalUsings.g.cs
TwoFactRegressCalc/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_b0atyiut_wpftmp.sourcelink.json
TwoFactRegressCalc/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_dk5beboi_wpftmp.AssemblyInfo.cs
TwoFactRegressCalc/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_dk5beboi_wpftmp.GlobalUsings.g.cs
TwoFactRegressCalc/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_dk5beboi_wpftmp.sourcelink.json
TwoFactRegressCalc/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_pdu0oh2a_wpftmp.AssemblyInfo.cs
TwoFactRegressCalc/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_pdu0oh2a_wpftmp.GlobalUsings.g.cs
TwoFactRegressCalc/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_pdu0oh2a_wpftmp.sourcelink.json
TwoFactRegressCalc/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_yvjvphx1_wpftmp.AssemblyInfo.cs
TwoFactRegressCalc/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_yvjvphx1_wpftmp.GlobalUsings.g.cs
TwoFactRegressCalc/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc.sourcelink.json
TwoFactRegressCalc/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc.pdb
TwoFactRegressCalc/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc.AssemblyInfo.cs
