*.vsidx
TwoFactRegressCalc/.vs/ProjectEvaluation/twofactregresscalc.metadata.v7.bin
TwoFactRegressCalc/.vs/ProjectEvaluation/twofactregresscalc.projects.v7.bin
*.v2
*.suo
TwoFactRegressCalc/.vs/TwoFactRegressCalc/v17/DocumentLayout.json
TwoFactRegressCalc/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_zkytauqh_wpftmp.sourcelink.json
*.cache
*.editorconfig
*.BuildWithSkipAnalyzers
TwoFactRegressCalc/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_0vpzruig_wpftmp.AssemblyInfo.cs
TwoFactRegressCalc/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_zkytauqh_wpftmp.GlobalUsings.g.cs
TwoFactRegressCalc/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_zkytauqh_wpftmp.AssemblyInfo.cs
TwoFactRegressCalc/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_yvjvphx1_wpftmp.sourcelink.json
TwoFactRegressCalc/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_0vpzruig_wpftmp.GlobalUsings.g.cs
TwoFactRegressCalc/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_0vpzruig_wpftmp.sourcelink.json
TwoFactRegressCalc/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_2zdnfwjd_wpftmp.AssemblyInfo.cs
TwoFactRegressCalc/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_2zdnfwjd_wpftmp.GlobalUsings.g.cs
TwoFactRegressCalc/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_2zdnfwjd_wpftmp.sourcelink.json
TwoFactRegressCalc/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_b0atyiut_wpftmp.AssemblyInfo.cs
TwoFactRegressCalc/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_b0atyiut_wpftmp.GlobalUsings.g.cs
TwoFactRegressCalc/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_b0atyiut_wpftmp.sourcelink.json
TwoFactRegressCalc/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_dk5beboi_wpftmp.AssemblyInfo.cs
TwoFactRegressCalc/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_dk5beboi_wpftmp.GlobalUsings.g.cs
TwoFactRegressCalc/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_dk5beboi_wpftmp.sourcelink.json
TwoFactRegressCalc/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_pdu0oh2a_wpftmp.AssemblyInfo.cs
TwoFactRegressCalc/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_pdu0oh2a_wpftmp.GlobalUsings.g.cs
TwoFactRegressCalc/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_pdu0oh2a_wpftmp.sourcelink.json
TwoFactRegressCalc/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_yvjvphx1_wpftmp.AssemblyInfo.cs
TwoFactRegressCalc/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_yvjvphx1_wpftmp.GlobalUsings.g.cs
TwoFactRegressCalc/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc.sourcelink.json
TwoFactRegressCalc/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc.pdb
TwoFactRegressCalc/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc.AssemblyInfo.cs
*.lref
TwoFactRegressCalc/TwoFactRegressCalc/obj/Release/net8.0-windows/TwoFactRegressCalc.GlobalUsings.g.cs
TwoFactRegressCalc/TwoFactRegressCalc/obj/Release/net8.0-windows/TwoFactRegressCalc.AssemblyInfo.cs
TwoFactRegressCalc/TwoFactRegressCalc/obj/Release/net8.0-windows/App.g.i.cs
TwoFactRegressCalc/TwoFactRegressCalc/obj/Release/net8.0-windows/App.g.cs
TwoFactRegressCalc/TwoFactRegressCalc/obj/Release/net8.0-windows/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
TwoFactRegressCalc/TwoFactRegressCalc/obj/Release/net8.0-windows/View/MainWindow.g.i.cs
TwoFactRegressCalc/TwoFactRegressCalc/obj/Release/net8.0-windows/View/MainWindow.g.cs
TwoFactRegressCalc/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_wd5vq4ug_wpftmp.sourcelink.json
TwoFactRegressCalc/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_wd5vq4ug_wpftmp.GlobalUsings.g.cs
TwoFactRegressCalc/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_wd5vq4ug_wpftmp.AssemblyInfo.cs
TwoFactRegressCalc/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_uebojmze_wpftmp.sourcelink.json
TwoFactRegressCalc/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_uebojmze_wpftmp.GlobalUsings.g.cs
TwoFactRegressCalc/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_uebojmze_wpftmp.AssemblyInfo.cs
TwoFactRegressCalc/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_mmc3jcp3_wpftmp.sourcelink.json
TwoFactRegressCalc/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_mmc3jcp3_wpftmp.GlobalUsings.g.cs
TwoFactRegressCalc/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_mmc3jcp3_wpftmp.AssemblyInfo.cs
TwoFactRegressCalc/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_ll5enfod_wpftmp.sourcelink.json
TwoFactRegressCalc/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_ll5enfod_wpftmp.GlobalUsings.g.cs
TwoFactRegressCalc/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_ll5enfod_wpftmp.AssemblyInfo.cs
TwoFactRegressCalc/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_ixobvlia_wpftmp.sourcelink.json
TwoFactRegressCalc/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_ixobvlia_wpftmp.GlobalUsings.g.cs
TwoFactRegressCalc/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_ixobvlia_wpftmp.AssemblyInfo.cs
TwoFactRegressCalc/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_2feasl4r_wpftmp.sourcelink.json
TwoFactRegressCalc/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_2feasl4r_wpftmp.GlobalUsings.g.cs
TwoFactRegressCalc/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_2feasl4r_wpftmp.AssemblyInfo.cs
TwoFactRegressCalc/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_qceymqj5_wpftmp.sourcelink.json
TwoFactRegressCalc/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_qceymqj5_wpftmp.GlobalUsings.g.cs
TwoFactRegressCalc/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_qceymqj5_wpftmp.AssemblyInfo.cs
TwoFactRegressCalc/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_nkufpiqf_wpftmp.sourcelink.json
TwoFactRegressCalc/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_nkufpiqf_wpftmp.GlobalUsings.g.cs
TwoFactRegressCalc/TwoFactRegressCalc/bin/Debug/net8.0-windows/TwoFactRegressCalc.pdb
*.baml
TwoFactRegressCalc/TwoFactRegressCalc/obj/Debug/net8.0-windows/View/MainWindow.g.cs
TwoFactRegressCalc/TwoFactRegressCalc/obj/Debug/net8.0-windows/View/MainWindow.g.i.cs
TwoFactRegressCalc/TwoFactRegressCalc/obj/Debug/net8.0-windows/apphost.exe
TwoFactRegressCalc/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc.designer.deps.json
TwoFactRegressCalc/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc.designer.runtimeconfig.json
TwoFactRegressCalc/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc.dll
TwoFactRegressCalc/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc.g.resources
TwoFactRegressCalc/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_4x1s1zbc_wpftmp.AssemblyInfo.cs
TwoFactRegressCalc/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_4x1s1zbc_wpftmp.GlobalUsings.g.cs
TwoFactRegressCalc/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_4x1s1zbc_wpftmp.sourcelink.json
TwoFactRegressCalc/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_4yxaizwq_wpftmp.AssemblyInfo.cs
TwoFactRegressCalc/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_4yxaizwq_wpftmp.GlobalUsings.g.cs
TwoFactRegressCalc/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_4yxaizwq_wpftmp.sourcelink.json
TwoFactRegressCalc/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_5yikafoe_wpftmp.AssemblyInfo.cs
TwoFactRegressCalc/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_5yikafoe_wpftmp.GlobalUsings.g.cs
TwoFactRegressCalc/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_5yikafoe_wpftmp.sourcelink.json
TwoFactRegressCalc/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_ftrybjt3_wpftmp.AssemblyInfo.cs
TwoFactRegressCalc/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_ftrybjt3_wpftmp.GlobalUsings.g.cs
TwoFactRegressCalc/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_ftrybjt3_wpftmp.sourcelink.json
TwoFactRegressCalc/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_gtbo15ye_wpftmp.AssemblyInfo.cs
TwoFactRegressCalc/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_gtbo15ye_wpftmp.GlobalUsings.g.cs
TwoFactRegressCalc/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_gtbo15ye_wpftmp.sourcelink.json
TwoFactRegressCalc/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_hlu4rtvz_wpftmp.AssemblyInfo.cs
TwoFactRegressCalc/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_hlu4rtvz_wpftmp.GlobalUsings.g.cs
TwoFactRegressCalc/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_hlu4rtvz_wpftmp.sourcelink.json
TwoFactRegressCalc/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_kz0h3b1k_wpftmp.AssemblyInfo.cs
TwoFactRegressCalc/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_kz0h3b1k_wpftmp.GlobalUsings.g.cs
TwoFactRegressCalc/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_kz0h3b1k_wpftmp.sourcelink.json
TwoFactRegressCalc/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_ljxic3of_wpftmp.GlobalUsings.g.cs
TwoFactRegressCalc/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_ljxic3of_wpftmp.AssemblyInfo.cs
TwoFactRegressCalc/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_ljxic3of_wpftmp.sourcelink.json
TwoFactRegressCalc/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_nkufpiqf_wpftmp.AssemblyInfo.cs
